.appart {
    width: 100%;
    display: flex;
    gap: rem(30);
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: rem(22);

    @include tablet {
        padding: rem(22);
        justify-content: space-around;
        padding: rem(56) rem(50) rem(56);
        margin-top: 0;
    }

    @include desktop {
        background: $bg-color;
        margin: rem(43) auto;
        width: rem(1200);
        border-radius: rem(25);
    }
}

.appartCard {
    width: 100%;
    height: rem(255);
    max-width: rem(335);
    max-height: rem(255);
    position: relative;
    border-radius: rem(10);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, $primary-color 100%);

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 150px;
        border-radius: rem(10);
        background: -webkit-linear-gradient( top , rgba(0, 0, 0, 0.5), rgba(255,255,255,0));
        background: linear-gradient( to top , rgba(0, 0, 0, 0.5), rgba(255,255,255,0));
    }

    @include tablet {
        width: rem(340);
        height: rem(340);
        max-width: rem(340);
        max-height: rem(340);
    }
    &__img {
        width: 100%;
        height: 100%;
        border-radius: rem(10);
    }
    &__title {
        color: $secondary-color;
        font-weight: 500;
        position: absolute;
        padding: 20px;
        font-size: rem(18);
        left: 20px;
        bottom: 20px;
        z-index: 10;
    }
}
