.appart {
    width: 100%;
    display: flex;
    gap: rem(30);
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: rem(22);

    @include tablet {
        justify-content: start;
        background: $bg-color;
        margin: 40px 0 63px;
        margin-top: rem(43);
        padding: rem(56) rem(50) rem(56);
    }
        
    @include desktop {
        margin: rem(43) auto;
        width: rem(1200);
    }

}

.appartCard {
    width: 335px;
    min-width: rem(335);
    height: rem(255);
    min-height: rem(255);
    position: relative;
    border-radius: rem(10);
    background: linear-gradient(180deg,rgba(255, 255, 255, 0) 0%, $primary-color 100%);
    @include tablet {
        width: rem(340);
        height: rem(340);
    }
    &__img {
        width: 100%;
        height: 100%;
        border-radius: rem(10);
    }
    &__title {
        color: $secondary-color;
        font-weight: 500;
        position: absolute;
        padding: 20px;
        font-size: rem(18);
        left: 20px;
        bottom: 20px;
    }
}