
// =============== FONT ===============
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

// =============== Variables ===============
$text-color-white: #ffffff;
$text-color-red: #ff6060;
$color-gray: #f6f6f6;

// =============== Reset CSS ===============
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    box-sizing: border-box;
    cursor: default;
    font-family: 'Montserrat', sans-serif;
    color: $text-color-red;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: currentColor;
}

::selection {
    background-color: $text-color-white;
    color: $text-color-red;
}

.active {
    text-decoration: underline;
}

.loading {
    position: fixed;
    top: 50%;
    left: 50%;
}
