
// =============== FONT ===============
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

// =============== Variables ===============

$primary-color: #ff6060;
$secondary-color: #ffffff;
$bg-color: #f6f6f6;
$secondary-bg: #E3E3E3;


:export {
    primary-color: #ff6060;
    secondary-bg: #E3E3E3;
}

// =============== Reset CSS ===============
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    box-sizing: border-box;
    cursor: default;
    font-family: 'Montserrat', sans-serif;
    // color: $primary-color;
    min-height: 100vh;
}

main {
    min-height: 75vh;
    padding: 0 20px 22px;

    @media (min-width: 1281px) {
        padding: 0;
        margin: 0 auto;
        width: rem(1200);
    }
}

a {
    text-decoration: none;
    color: currentColor;
}

::selection {
    background-color: $secondary-color;
    color: $primary-color;
}

.active {
    text-decoration: underline;
}

.loading {
    position: fixed;
    top: 50%;
    left: 50%;
}
